body {
    background-image: linear-gradient(to bottom, #00adb5, #e3fdfd);
}
hr {
    border-color: white;
    border-width: 1.5px;
    width: auto;
}
h1 {
    color: #23049d;
}
h2 {
    color: #23049d;
}
.dp:hover {
    background-color: rebeccapurple;
}
#heading {
    color: #04009a;
}
.about {
    font-size: 18px;
}
/*IDs are used only to target particular elements which occur only once throught the page*/
/*Class Selectors are used to target a group of elements. Eg - 